body{
    border-style:dotted;
    border-width: thick;
    border-color:burlywood;
    background-color:antiquewhite;}

h1 { color: brown;
    font-size: 60px;
    font-family: 'PT Serif', serif;

}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    color: darkgoldenrod;

}

