body{
    background-color:antiquewhite;}

h1 { color: brown;
    font: 48px;
    font-family: 'PT Serif', serif;

}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    color: darkgoldenrod;

}

