body{
    background-color:rgb(179, 216, 105);
    background-image: url(graphics/puppies.jpeg);
    background-repeat: no-repeat;
}

h1, h3 {
    color:rgb(27, 87, 89);
}

h1{font-size: 36px;
}

hr{
    color:rgb(56, 94, 60);
    height: 10px;
    width: 50%;
}


p{
    font-family: 'Fjalla One', sans-serif;
    font-size: 32px;
}